/* static/styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 10px 0;
  text-align: center;
}

footer {
  background-color: #4CAF50;
  color: white;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  text-align: center;
}

form {
  margin-bottom: 20px;
  text-align: center;
}

textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#result {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 500px; /* Set the maximum width */
  height: auto; /* Maintain aspect ratio */
}

.result-container {
  text-align: center;
}

.result-container p {
  margin: 10px 0;
}
